

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h4>Üye isim:<%=user.firstName%></h4>
    <h4>Üye soyisim:<%=user.lastName%></h4>
    <h4>Üye email:<%=user.email%></h4>
    <h4>Üye yaş:<%=user.old%></h4>
<a href="/settings"><b>Ayarlar</b></a>
<a href="/appointments"><b>Randevular</b></a>
</body>

</html>