<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="firstName" placeholder="İsim">
        <input type="text" name="lastName" placeholder="Soyisim">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Şifreniz">
        <input type="password" placeholder="Şifrenizi tekrar yazınız">
        <input type="number" name="old" placeholder="Yaşınız">
        <button>Gönder</button>
        <a href="/login">Eğer zaten üye iseniz <b>Giriş Yapınız</b></a>
    </form>
</body>
</html>